/*
// COLORS, VARIABLES
// ======
*/
/*
// IMPORTS
// =======
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
body {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.user-info p {
  font-size: 14px;
  color: #bdc1ff;
}

.user-info h1 {
  font-size: 24px;
  font-weight: 300;
}

.nav {
  color: #6f76c8;
}

.card-header p {
  font-size: 18px;
  font-weight: 500;
}

.card-data-current {
  font-size: 30px;
  font-weight: 300;
}

.card-data-previous {
  font-weight: 300;
  color: #bdc1ff;
}

/*
// LAYOUT
// ======
*/
body {
  position: relative;
  background-color: #0f1424;
}

main {
  margin: 80px 20px;
  padding-bottom: 40px;
}

.card {
  margin-bottom: 60px;
}

.card#user {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info {
  margin-left: 15px;
}

.user-info p {
  margin-bottom: 10px;
}

.nav {
  margin-top: -30px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

/*
// COMPONENTS
// ==========
*/
.card {
  position: relative;
  background-color: #1c1f4a;
  padding: 30px 25px;
  border-radius: 15px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card#user {
  background-color: #5847eb;
}

.card#work::before,
.card#play::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  top: -40px;
  left: 0;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: calc(100% - 20px);
  z-index: -1;
}

.card#work::before {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.nav p {
  cursor: pointer;
}

.nav p:hover,
.nav p.active {
  color: white;
}

.user-image {
  width: 70px;
  border: 2px solid white;
  border-radius: 50%;
}

.user-image img {
  display: block;
  width: 100%;
}
