/*
// COLORS, VARIABLES
// ======
*/
/*
// IMPORTS
// =======
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
body {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.user-info p {
  font-size: 14px;
  color: #bdc1ff;
}

.user-info h1 {
  font-size: 24px;
  font-weight: 300;
}

.nav {
  color: #6f76c8;
  font-size: 18px;
  font-weight: 400;
}

.card-header p {
  font-size: 18px;
  font-weight: 500;
}

.card-data {
  font-weight: 300;
}

.card-data-current {
  font-size: 30px;
}

.card-data-previous {
  color: #bdc1ff;
}

@media (min-width: 1124px) {
  .user-info h1 {
    font-size: 38px;
  }
  .user-info p {
    font-size: 16px;
  }
  .card-data-current {
    font-size: 53px;
  }
}

/*
// LAYOUT
// ======
*/
body {
  position: relative;
  background-color: #0f1424;
}

main {
  margin: 80px 20px;
  padding-bottom: 40px;
}

.card {
  margin-bottom: 60px;
}

.card#user {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info {
  margin-left: 15px;
}

.user-info p {
  margin-bottom: 10px;
}

.nav {
  margin-top: -30px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

@media (min-width: 1124px) {
  body {
    display: -ms-grid;
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
  }
  main {
    max-width: 1110px;
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template: 'user work play study' 1fr 'user exercise social self-care' 1fr / 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
  }
  .card {
    margin: 40px 0 0;
  }
  .profile-wraper {
    grid-area: user;
  }
  .user-info {
    margin: 45px 0 0;
  }
  .user-info p {
    margin: 0;
  }
  #user {
    height: 355px;
    margin: 0;
  }
  .nav {
    height: 195px;
    margin: -30px 0 0;
  }
  #work {
    grid-area: work;
  }
  #play {
    grid-area: play;
  }
  #study {
    grid-area: study;
  }
  #exercise {
    grid-area: exercise;
  }
  #social {
    grid-area: social;
  }
  #self-care {
    grid-area: self-care;
  }
}

/*
// COMPONENTS
// ==========
*/
.card {
  position: relative;
  background-color: #1c1f4a;
  padding: 30px 25px;
  border-radius: 15px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card#user {
  background-color: #5847eb;
}

.card#work,
.card#play,
.card#study,
.card#exercise,
.card#social,
.card#self-care {
  cursor: pointer;
}

.card#work:hover,
.card#play:hover,
.card#study:hover,
.card#exercise:hover,
.card#social:hover,
.card#self-care:hover {
  background-color: #2b3173;
}

.card#work::before,
.card#play::before,
.card#study::before,
.card#exercise::before,
.card#social::before,
.card#self-care::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  top: -40px;
  left: 0;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: calc(100% - 20px);
  z-index: -1;
}

.card#work.meny-hover:hover,
.card#play.meny-hover:hover,
.card#study.meny-hover:hover,
.card#exercise.meny-hover:hover,
.card#social.meny-hover:hover,
.card#self-care.meny-hover:hover {
  background-color: #1c1f4a;
}

.card#work::before {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
}

.card#play::before {
  background-color: #56c2e6;
  background-image: url("../images/icon-play.svg");
}

.card#study::before {
  background-color: #ff5c7c;
  background-image: url("../images/icon-study.svg");
}

.card#exercise::before {
  background-color: #4acf81;
  background-image: url("../images/icon-exercise.svg");
  background-position-y: 0px;
}

.card#social::before {
  background-color: #7536d3;
  background-image: url("../images/icon-social.svg");
}

.card#self-care::before {
  background-color: #f1c65b;
  background-image: url("../images/icon-self-care.svg");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.nav p {
  cursor: pointer;
}

.nav p:hover,
.nav p.active {
  color: white;
}

.user-image {
  width: 70px;
  border: 2px solid white;
  border-radius: 50%;
}

.user-image img {
  display: block;
  width: 100%;
}

@media (min-width: 1124px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
    width: 255px;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .card-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .user-image {
    width: 85px;
  }
  .nav {
    padding-top: 60px;
  }
}
